.card{
    display: flex;
    flex-direction:column;
    gap:20px;
    width:30vw;
    height:600px;
    min-height:400px;
    min-width: 260px;
    backdrop-filter: blur(80vw);
    border-radius:3vw;    
    .card-header{
        display: flex;
        flex-direction: column;
        width:100%;
        height:40%;
        img{
            height:80%;
            border-radius:10vh;
            opacity:60%;
            &:hover{
            opacity:100%;
            border-radius:1vh;
            transition: 800ms;
            }
        }        
    }
    .card-content{
        padding:2vw 1vw;
        font-size:1.75vh;
    }
}